<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @advet.name %>
</p>

<p>
  <strong>Descripion:</strong>
  <%= @advet.descripion %>
</p>

<p>
  <strong>Price:</strong>
  <%= @advet.price %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @advet.seller_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @advet.email %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @advet.img_url %>
</p>

<%= link_to 'Edit', edit_advet_path(@advet) %> |
<%= link_to 'Back', advets_path %>
